#bestsellers {
    width: 1172px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;

    .prev, .next {
        position: absolute;
        height: 45px;
        width: 13px;
        top: 47px;
    }
    
    .prev {
        right: 70px;
    }

    .next {
        right: 0px;
    }

    .topic {
        height: 45px;
        padding-left: 15px;
        position: relative;

        .BESTSELLERS {
            font-size: 24px;
            font-family: "OpenSans";
            color: rgb(33, 33, 33);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.5;
            vertical-align: middle;
        }

        .search {
            height: 19px;
            width: 19px;

            position: absolute;
            top: 60px;
            right: 100px;            
        }            
    }

    .desktop {        
        .items {
            transition: all 0.2s;
        }
        .nav {
            height: 45px;
            a.nav-link {
                color: black;
                padding: 0.2rem 1rem;
                
                &.active {
                    border-bottom: 1px solid black;
                }
            }
        }    
        .navbar {
            position: relative;
                      
            .more {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 45px;
                width: 83px;
                text-align: center;
                padding-top: 11px;                


                span {
                    font-size: 14px;
                    font-family: "OpenSans";
                    text-transform: uppercase;
                    //line-height: 45px;
                }

            }
        }
    }

    .mobile {
        display: none;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    #bestsellers {
        width: 750px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 575px) {
    #bestsellers {
        width: 320px;

        .desktop {
            display: none;
        }
        .mobile {
            display: block;
            width: 320px;
            transition: all 0.2s;

            .topic {        
                .search {
                    top: -40px;
                    right: 13px;            
                }            
            }

            > div {
                position: relative;
                margin-bottom: 28px;
                p {
                    padding: 0px 15px;
                    font-size: 16px;
                    font-family: "OpenSans";
                    color: rgb(33, 33, 33);
                    line-height: 0.875;
                }
            }
            .slider {
                overflow: hidden;
                height: 330px;
    
                .items {
                    grid-template-columns: 1fr;
                }
                .prev {
                    bottom: 0px;
                    left: 0px;
                    width: 13px;
                    height: 330px;
                }
                .next {
                    bottom: 0px;
                    right: 0px;
                    width: 13px;
                    height: 330px;
                }
            }
            .nextCategory {
                margin: auto;
                height: 20px;
                width: 83px;
                text-align: center;
                position: relative;

                .prev {
                    height: inherit;
                    width: 13px;
                    top: 3px;
                    left: 0px;
                }
                span {
                    font-size: 14px;
                    font-family: "OpenSans";
                    text-transform: uppercase;                   
                }
                .next {
                    height: inherit;
                    width: 13px;
                    top: 3px;
                    right: 0px;
                }
            }
        }
    }
}